

/*
* Body global styles
*/

body {
  font-family: 'Roboto', sans-serif;
}

/*
* Navbar Styles
*/

.resume-navbar {
  background-color: #f2f6fc !important;
  color: grey;
}

#resume-container {
  background-image: url("so-white.png");
}

.resume-head {
  background-color: #1abc9c;
  color: white; 
  padding-top: 75px;
}