

/*
* Body global styles
*/

body {
  font-family: 'Roboto', sans-serif;
}

/*
* Jumbotron Styles
*/

.jumbotron {
  background: #12232E;
  color: white;
  font-weight: bold;
}

.jumbotron-img {
  width: 250px;
  border-radius: 50%;
  border: 6px solid #18c183;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #007CC7;
}

.nav-pills a {
  color: #4DA8DA;
}


.resume-navbar {
  background-color: #f2f6fc !important;
  color: grey;
}

#resume-container {
  background-image: url("so-white.png");
}

.resume-head {
  background-color: #1abc9c;
  color: white; 
  padding-top: 75px;
}